@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 700px;
  height: 250px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

ul li {
  width: 120px;
  height: 120px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  position: relative;
}

ul li,
ul li img,
ul li span {
  border-radius: 50%;
}

ul li span {
  display: block;
  width: 120px;
  height: 120px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 120px;
  position: absolute;
  top: -50%;
  transform: translateY(50%);
  opacity: 0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}

ul li a:hover span {
  opacity: 1;
  font-size: 1rem;
}

.overlay {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 999;
  transition: 0.1s linear;
  text-align: center;
  padding: 30px;
}

.overlay:target {
  width: auto;
  height: auto;
  opacity: 1;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.overlay img {
  border-radius: 20px;
  height: 80vh;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
}

.overlay .close {
  position: absolute;
}

.overlay:target img {
  animation: zoomandfade 300ms;
}

.overlay:target .close {
  animation: close 2s 300ms forwards;
}

.overlay:target .arrow-left,
.overlay:target .arrow-right {
  animation: close 2s 500ms forwards;
}

a.arrow-left,
a.arrow-right {
  position: absolute;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
  font-size: 90px;
  opacity: 0;
  color: white;
}

a.arrow-left {
  left: -120px;
}

a.arrow-right {
  right: -120px;
}

a.close {
  text-decoration: none;
  color: white;
  font-size: 32px;
  opacity: 0;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 999999;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay-img {
  width: max-content;
  height: max-content;
  margin: auto;
  position: relative;
}

/* animation */

@keyframes zoomandfade {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes close {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
